<%= form_for(@audio_clip) do |f| %>
  <% if @audio_clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio_clip.errors.count, "error") %> prohibited this audio_clip from being saved:</h2>

      <ul>
      <% @audio_clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

      <%= f.file_field :sound_file %>
    <%= f.hidden_field :sound_file_cache %>
  </div>

    <div class="field">

      <%= f.label :venue %>
    <%= f.text_field :fsvenue %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
<!-- 
  <%#unless @audio_clip.play_count.blank? || @audio_clip.like_count.blank?%>
   -->  
    <div class="field">
    <%= f.label :play_count %><br />
    <%= f.text_field :play_count %>
  </div>

   <div class="field">
    <%= f.label :like_count %><br />
    <%= f.text_field :like_count %>
  </div>
<!-- 
  <%#end%> -->

     <div class="field">
    <%= f.label :sound_file_url %><br />
    <%= f.text_field :sound_file_url %>
  </div>




  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
