<p id="notice"><%= notice %></p>

<p>
  <b>Clip url:</b>
  <%= @audio_clip.sound_file.url %>
</p>

  <b>venues</b>
  <%= @audio_clip.fsvenue %>
</p>



<p>
  <b>User Name:</b>
  <%= @audio_clip.username %>
</p>

<p>
  <b>Facebook ID:</b>
  <%= @audio_clip.facebook_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @audio_clip.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @audio_clip.longitude %>
</p>

<p>
  <b>Title:</b>
  <%= @audio_clip.title %>
</p>

<p>
  <b>Play Count:</b>
  <%= @audio_clip.try(:play_count)%>
</p>

<p>
  <b>Like Count:</b>
  <%= @audio_clip.try(:like_count)%>
</p>


<%= link_to 'Edit', edit_audio_clip_path(@audio_clip) %> |
<%= link_to 'Back', audio_clips_path %>
